{% extends "base.html.twig" %}
{# templates/Inscription/accueil.html.twig #}
{% block title %}{{parent()}} - Edit{% endblock %}
{% block titre %}{{parent()|upper}} Consultation du job {{ job.getType()}} {% endblock %}
{% block body %}
  <h1>Entreprise : {{job.company}}</h1>
  <h2>Discription {{job.description}}</h2>
  <h2>date d'expiration : {{job.getExpiresAt() | date('d-m-y')}}</h2>
{% endblock %}